<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/clubowners.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Responsive Regisration Form </title>-->
</head>

<body>
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Club Name</label>
                            <input type="text" placeholder="Enter your Club name" required>
                        </div>



                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>


                        <div class="input-field">
                            <label>Club Discription</label>
                            <input type="text" placeholder="Enter your Discription" required>
                        </div>

                        <div class="input-field">
                            <label>Tag for the event</label>
                            <input type="text" placeholder="Enter your event tag" required>
                        </div>

                        <div class="input-field">
                            <label>Venue</label>
                            <input type="text" placeholder="Enter your Venue" required>
                        </div>

                        <div class="input-field">
                            <label>Entry Fees</label>
                            <input type="text" placeholder="Enter your Entry Fees" required>
                        </div>

                        <div class="input-field">
                            <label>Theme</label>
                            <input type="text" placeholder="Enter your Theme" required>
                        </div>

                        <div class="input-field">
                            <label>DJ Performing</label>
                            <input type="text" placeholder="Enter your DJ Performing" required>
                        </div>

                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter your Address" required>
                        </div>
                    </div>
                </div>



                <button class="nextBtn">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
            </div>
    </div>


    </form>
    </div>

    <script src="js/clubowners.js"></script>
</body>

</html>